
@{
    ViewBag.Title = "TablaJS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TablaJS</h2>

<div id="divTabla" class="row mt-2">

</div>

<script src="~/scripts/jquery-3.6.0.min.js"></script>
<script src="~/JS/TablaJS.js"></script>